.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

@media (min-width: 768px) {
  .places {
    gap: 72px;
    padding: 0 var(--section-padding);
  }
}

@media (min-width: 1024px) {
  .places {
    gap: 80px;
  }
}

@media (min-width: 1280px) {
  .places {
    padding: 0;
    width: 100%;
    max-width: 984px;
  }
}