.cover__subtitle {
  margin: 0;
  max-width: 288px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.22;
    max-width: 360px;
  }
}