.page__content {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  box-sizing: border-box;
  padding: var(--page-content-vertical-padding-top) 0 var(--page-content-vertical-padding-bottom);
}