.cover__title {
  box-sizing: border-box;
  padding: 0 var(--section-padding);
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: center;
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
  }
}