.footer {
  box-sizing: border-box;
  padding: 64px var(--section-padding) 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 88px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-top: 92px;
  }
}